.details {
  width: 50%;
  background: dodgerblue;
  color: #fff;
  border: #fff;
  width: 130px;
  height: 35px;
  border-radius: 6px;
  margin-top: 20px;
}
.details:hover {
  background: linear-gradient(45deg, greenyellow, dodgerblue);
}
