.ads {
    width: 300px;
    height: 100%;
    background-color: #f5f5f5;
    border-left: 1px solid #353535;
    padding: 10px;
}

.adsModule {
    overflow: hidden;
    margin: 10px auto;
    text-align: center;
}

.adsItem {
    display: inline-block;
    width: 220px;
    overflow: hidden;
    margin: 8px 10px 2px 10px;
    text-align: left;
}

.adsItem p {
    height: 60px;
    margin-bottom: 0px;
    overflow: hidden;
    font-weight: bold;
    font-size: 14px;
    color: black;
}
